#external-events {
    position: absolute;
    z-index: 2;
    padding: 0 10px;
    background: rgba(237, 243, 159, 0.8);
  }
  
  #external-events .fc-event {
    margin: 1em 0;
    cursor: move;
    color: black;
    background: orange;
  }

    
  #allMembers .fc-event {
    margin: 1em 0;
    cursor: move;
    color: purple;
    background: lightcoral;
  }

