.fc-event .target {
  border: 2px solid red;
}

#external-events .fc-event {
  margin: 1em 0;
  cursor: move;
  color: black;
  background: orange;
}

#allMembers .fc-event {
}

.event-actions {
  color: gray;
  position: absolute;
  display: flex;
  justify-self: end;
  align-self: center;
  justify-content: center;
  align-items: center;
  top: 1px;
  right: 1px;
  width: 11px;
  height: 11px;
  text-align: center;
  border-radius: 50%;
  font-size: 8px;
  cursor: pointer;
  background-color: #fff;
}
