.fc-event .target {
    border: 2px solid red;
  }

#external-events .fc-event {
  margin: 1em 0;
  cursor: move;
  color: black;
  background: orange;
}

#allMembers .fc-event {
  margin: 1em 0;
  cursor: move;
  color: purple;
  background: lightcoral;
}
